################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SlotsSlotsSlots/bin
/SlotsSlotsSlots/obj
/SlotsSlotsSlots/bin/*
/SlotsSlotsSlots/obj/*
/SlotsSlotsSlots/obj/SlotsSlotsSlots.csproj.nuget.g.targets
/SlotsSlotsSlots/obj/SlotsSlotsSlots.csproj.nuget.g.props
/SlotsSlotsSlots/obj/SlotsSlotsSlots.csproj.nuget.dgspec.json
/SlotsSlotsSlots/obj/Release/net5.0/SlotsSlotsSlots.GeneratedMSBuildEditorConfig.editorconfig
/SlotsSlotsSlots/obj/Release/net5.0/SlotsSlotsSlots.assets.cache
/SlotsSlotsSlots/obj/Release/net5.0/SlotsSlotsSlots.AssemblyInfoInputs.cache
/SlotsSlotsSlots/obj/Release/net5.0/SlotsSlotsSlots.AssemblyInfo.cs
/SlotsSlotsSlots/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/SlotsSlotsSlots/obj/project.nuget.cache
/SlotsSlotsSlots/obj/project.assets.json
/SlotsSlotsSlots/obj/Debug/net5.0/SlotsSlotsSlots.GeneratedMSBuildEditorConfig.editorconfig
/SlotsSlotsSlots/obj/Debug/net5.0/SlotsSlotsSlots.csprojAssemblyReference.cache
/SlotsSlotsSlots/obj/Debug/net5.0/SlotsSlotsSlots.assets.cache
/SlotsSlotsSlots/obj/Debug/net5.0/SlotsSlotsSlots.AssemblyInfoInputs.cache
/SlotsSlotsSlots/obj/Debug/net5.0/SlotsSlotsSlots.AssemblyInfo.cs
/SlotsSlotsSlots/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/.vs/VSWorkspaceState.json
/.vs/SlotsSlotsSlots/v16/.suo
/.vs/SlotsSlotsSlots/DesignTimeBuild/.dtbcache.v2
/.vs/slnx.sqlite
/SlotsSlotsSlots/obj/Debug/net5.0/SlotsSlotsSlots.pdb
/SlotsSlotsSlots/obj/Debug/net5.0/SlotsSlotsSlots.genruntimeconfig.cache
/SlotsSlotsSlots/obj/Debug/net5.0/SlotsSlotsSlots.dll
/SlotsSlotsSlots/obj/Debug/net5.0/SlotsSlotsSlots.csproj.FileListAbsolute.txt
/SlotsSlotsSlots/obj/Debug/net5.0/SlotsSlotsSlots.csproj.CoreCompileInputs.cache
/SlotsSlotsSlots/obj/Debug/net5.0/SlotsSlotsSlots.csproj.CopyComplete
/SlotsSlotsSlots/obj/Debug/net5.0/ref/SlotsSlotsSlots.dll
/SlotsSlotsSlots/obj/Debug/net5.0/apphost.exe
/SlotsSlotsSlots/bin/Debug/net5.0/System.Windows.Extensions.dll
/SlotsSlotsSlots/bin/Debug/net5.0/System.Security.Permissions.dll
/SlotsSlotsSlots/bin/Debug/net5.0/System.Reactive.dll
/SlotsSlotsSlots/bin/Debug/net5.0/System.Drawing.Common.dll
/SlotsSlotsSlots/bin/Debug/net5.0/Synthesis.Bethesda.dll
/SlotsSlotsSlots/bin/Debug/net5.0/SlotsSlotsSlots.runtimeconfig.json
/SlotsSlotsSlots/bin/Debug/net5.0/SlotsSlotsSlots.runtimeconfig.dev.json
/SlotsSlotsSlots/bin/Debug/net5.0/SlotsSlotsSlots.pdb
/SlotsSlotsSlots/bin/Debug/net5.0/SlotsSlotsSlots.exe
/SlotsSlotsSlots/bin/Debug/net5.0/SlotsSlotsSlots.dll
/SlotsSlotsSlots/bin/Debug/net5.0/SlotsSlotsSlots.deps.json
/SlotsSlotsSlots/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/SlotsSlotsSlots/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/SlotsSlotsSlots/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/SlotsSlotsSlots/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/SlotsSlotsSlots/bin/Debug/net5.0/ref/SlotsSlotsSlots.dll
/SlotsSlotsSlots/bin/Debug/net5.0/Noggog.CSharpExt.dll
/SlotsSlotsSlots/bin/Debug/net5.0/Newtonsoft.Json.dll
/SlotsSlotsSlots/bin/Debug/net5.0/Mutagen.Bethesda.Synthesis.dll
/SlotsSlotsSlots/bin/Debug/net5.0/Mutagen.Bethesda.Skyrim.dll
/SlotsSlotsSlots/bin/Debug/net5.0/Mutagen.Bethesda.Oblivion.dll
/SlotsSlotsSlots/bin/Debug/net5.0/Mutagen.Bethesda.Kernel.dll
/SlotsSlotsSlots/bin/Debug/net5.0/Mutagen.Bethesda.Json.dll
/SlotsSlotsSlots/bin/Debug/net5.0/Mutagen.Bethesda.FormKeys.SkyrimSE.dll
/SlotsSlotsSlots/bin/Debug/net5.0/Mutagen.Bethesda.Fallout4.dll
/SlotsSlotsSlots/bin/Debug/net5.0/Mutagen.Bethesda.dll
/SlotsSlotsSlots/bin/Debug/net5.0/Mutagen.Bethesda.Core.Windows.dll
/SlotsSlotsSlots/bin/Debug/net5.0/Mutagen.Bethesda.Core.dll
/SlotsSlotsSlots/bin/Debug/net5.0/Microsoft.Win32.SystemEvents.dll
/SlotsSlotsSlots/bin/Debug/net5.0/Loqui.dll
/SlotsSlotsSlots/bin/Debug/net5.0/K4os.Hash.xxHash.dll
/SlotsSlotsSlots/bin/Debug/net5.0/K4os.Compression.LZ4.Streams.dll
/SlotsSlotsSlots/bin/Debug/net5.0/K4os.Compression.LZ4.dll
/SlotsSlotsSlots/bin/Debug/net5.0/INIFileParser.dll
/SlotsSlotsSlots/bin/Debug/net5.0/ICSharpCode.SharpZipLib.dll
/SlotsSlotsSlots/bin/Debug/net5.0/DynamicData.dll
/SlotsSlotsSlots/bin/Debug/net5.0/DotNetZip.dll
/SlotsSlotsSlots/bin/Debug/net5.0/CommandLine.dll
